<div class="container">
    <div class="row pt-5">
        <div class="col-6 offset-3">
            <div class="m-1">
                <label>Username</label>
                <input @bind="Username" class="form-control @(InvalidCredentials ? "border border-danger border-2" : string.Empty)" placeholder="Username" />
            </div>
            <div class="m-1">
                <label>Password</label>
                <input @bind="Password" type="password" class="form-control @(InvalidCredentials ? "border border-danger border-2" : string.Empty)" placeholder="Password" />
            </div>
            @if (InvalidCredentials)
            {
                    <div class="m-1">
                        <p class="text-danger fw-bold">Invalid username or password!</p>
                    </div>
            }
            <div class="m-1">
                @SubmitButton
            </div>
        </div>

    </div>
</div>

@code {

    [Parameter]
    public RenderFragment? SubmitButton { get; set; }

    [Parameter]
    public required string Username { get; set; }

    [Parameter]
    public required string Password { get; set; }

    [Parameter]
    public required bool InvalidCredentials { get; set; }
}
