@page "/login"
@inject IDispatcher dispatcher
@inject NavigationManager navManager
@inject IUserStore userStore
@implements IDisposable


<div class="container"> 
    <div class="row pt-5">
        <div class="col-6 offset-3">
            @if (invalidCredentials)
            {
                <ul class="validation-errors">
                    <li class="validation-message">Invalid username or password.</li>
                </ul>
            }
            <div class="m-1">
                <input @bind="credentials.Username" class="form-control @(invalidCredentials ? "modified invalid" : string.Empty)" placeholder="Username" />
            </div>
            <div class="m-1">
                <input @bind="credentials.Password" type="password" class="form-control @(invalidCredentials ? "modified invalid" : string.Empty)" placeholder="Password" />
            </div>
           
            <div class="m-1 mt-2">
                <button @onclick="LoginUser" class="btn btn-primary">Login</button>
            </div>
            <div class="m-1 mt-3">
                <p>Not a member? <a href="/register">Register.</a></p>
            </div>

        </div>
        
    </div>
</div>
@code {

    private bool invalidCredentials = false;
    private Credentials credentials = new Credentials();

    private void LoginUser()
    {
        var dispatchable = new Dispatchable<Credentials>(ActionType.LOGIN_USER, credentials);
        dispatcher.Dispatch(dispatchable);
    }

    private void Update()
    {
        if (userStore.Session == null)
        {
            invalidCredentials = true;
            InvokeAsync(() => StateHasChanged());
            return;
        }
        navManager.NavigateTo("/", true);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        userStore.OnChange += Update;
    }

    public void Dispose()
    {
        userStore.OnChange -= Update;
    }
}
